.vscode/
# cpp/01-linear-regression-single-variable/project-01/build
# cpp/02-cuda-is-available/build
cpp/**/build
cpp/**/log_files
cpp/**/submit.sh
05-convolution-neural-networks/transfer-learning/hymenoptera_data/
assignments/